.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1em;
  padding: 1em;
  /* background-color: aqua; */
}

.event-container {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: beige;
}

.tt {
  background-color: blueviolet;
}

#evName {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

#evDesc {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

#dateTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#evDate, #evTime {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: blueviolet;
}

#event-control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1em;
}
.bt {
  padding: 0.6em 0.6em;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.modify {
  background-color: cornflowerblue;
}

.cancel {
  background-color: brown;
}

.cancel:hover, .modify:hover {
  background-color: rosybrown;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
